* {
  box-sizing: border-box;
}

/* 공통 스타일 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

h2 {
  font-size: 2rem;
  color: #333;
}

.form-field {
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
}

.form-field label {
  display: block;
  margin-bottom: 8px;
  font-size: 1rem;
  color: #666;
}

.form-field input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.form-field p {
  color: red;
  font-size: 0.875rem;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

button,
a {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
}

button:hover,
a:hover {
  background-color: #0056b3;
}

.link-button {
  position: absolute;
  top: 10px;
  right: 20px;
}

.link-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  margin-left: 10px;
}

.link-button:hover {
  background-color: #0056b3;
}

.logout-container {
  position: absolute;
  top: 10px;
  right: 20px;
}

.use-logout {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.use-logout:hover {
  background-color: #0056b3;
}

.todo-container {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: 90vh;
  overflow: hidden;
}

.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
  max-height: 80%;
  overflow-y: hidden;
  margin-top: 20px;
}

ul,
li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  border-radius: 4px;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  position: relative;
  padding-right: 80px;
  flex-direction: column;
}

ul li button {
  background-color: #dc3545;
  padding: 5px 10px;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  min-width: 60px;
}

ul li button:hover {
  background-color: #c82333;
}

.scroll {
  max-height: 300px;
  overflow-y: auto;
}

input[type="text"] {
  width: calc(100% - 70px);
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

input[type="text"]::placeholder {
  font-size: 1rem;
  color: #999;
}

.error-styles,
p {
  color: red;
}

@media (max-width: 768px) {
  body {
    padding: 0;
    font-size: 14px;
  }

  .todo-container {
    padding: 10px;
    font-size: 14px;
    width: 100%;
    max-width: 100%;
    margin: 10px auto;
    box-shadow: none;
    border-radius: 4px;
  }

  ul {
    max-height: 70%;
    margin-top: 10px;
  }

  ul li {
    padding: 8px;
    font-size: 14px;
  }

  .form-field input {
    padding: 8px;
    font-size: 14px;
  }

  button,
  a {
    font-size: 14px;
    padding: 8px 16px;
  }

  .link-button,
  .use-logout {
    padding: 8px 16px;
    font-size: 14px;
  }

  .scroll {
    max-height: 200px;
  }
}
